* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
  color: #2a2a2a;
}

.container {
  margin-top: 100px;
  margin-left: 70px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 8em;
  opacity: 0.8;
  margin-bottom: 15px;
}

p {
  line-height: 1.7em;
  opacity: 0.9;
}

.about {
  padding-left: 10px;
  margin-bottom: 30px;
}

.icons {
  padding-left: 8px;
  opacity: 0.7;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 5em;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }

  p {
    display: none;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  .container {
    margin-left: 35px;
  }

  .icons {
    padding-left: 50px;
  }

  .icon {
    display: block;
    margin-top: 25px;
    width: 35px;
    height: 35px;
  }
}

.resume {
  text-decoration: underline !important;
}

a:link,
a:visited,
a:active {
  color: #2a2a2a;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

